body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0px;
   
}



.hero-section{
    height: 525px;
    background-color: #1f2937;
    padding-left: 250px;
    padding-right: 120px;
    color: #d0d2d8;
    font-size: 18px;
}

.nav-bar{
    display: flex;
    align-items: center;
}

.nav-left, .nav-right{
    flex:1 1 auto;
}

.nav-right{
    display: flex;
    gap: 20px;
    justify-content: center;

}

.nav-bar .nav-left{
    font-size: 26px;
    font-weight:bolder;
    color: #f9faf8;
    
}

.hero-info{
    display: flex;
    align-items: center;
    margin-bottom: 0px;
    padding-bottom: 0px;

}

button{
    background-color: #3882f6;
    font-weight:bolder;
    color: #f9faf8;
    width: 120px;
    height: 45px;
    border-radius: 5px;
    border: none;
    outline: none;
    box-shadow:  inset 0 0 0 0 #f9faf8;
    transition:  ease-out 0.3s;
}

button:hover{
    box-shadow:  inset  120px 0 0 0 #f9faf8;
    color: #3882f6;
}

 .main-info .header-info{
    font-size: 48px;
    font-weight: bolder;
    margin: 0px;
    color: #f9faf8;
    
}

.image-info{
    display: flex;
    justify-content: end;

}
.images{
    height: 430px;
    width: auto;
    align-items: end;
}


.info-section{
    height: 380px;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 25px;
    color: #1f2937;
    align-items: center;
}

.info-header{
    font-size: 20px;
    font-weight: bolder;
}

.info-options{
    display: flex;
    gap: 55px;
}



.info-img{
    height: 180px;
    width: 180px;
    text-align: center;

}
.qoute-section{
    height: 350px;
    background-color: #e5e7eb;
}

.info-section img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.contact-section{
    height: 300px;
}
.footer{
    height: 100px;
    background-color: #1f2937;
}